<html>
  <head>
    <title>Verification</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <script src="<%= captcha_provider_script %>" async defer></script>
    <link rel="stylesheet" href="../style.css" />
  </head>

  <body>
    <div class="main">
      <h1>Verification</h1>
      <h4>
        Please solve the <%= captcha_provider %> following below to make sure you are not a
        robot.
      </h4>
      <form action="/verify/solve" method="POST" id="captcha_verification">
        <center>
          <div
            class="g-recaptcha h-captcha cf-turnstile"
            data-sitekey="<%= captcha_sitekey %>"
            data-callback="onPassed"
            data-expired-callback="onExpired"></div>
        </center>
      </form>
    </div>
    <div class="footer">
      <a href="../verify/logout">Logout</a>
    </div>
    <script>
      function onPassed() {
        document.getElementById('captcha_verification').submit();
      }
      function onExpired() {
        location.reload();
      }
    </script>
  </body>
</html>
